.open-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.hdqwalls.com/download/soft-gradient-solid-color-4k-yl-3840x2160.jpg');
  height: 100vh;
  background-size: cover;
}

.open-form {
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0);
  background-color: rgba(43, 42, 42, 0.5);
  height: auto;
  width: auto;
  padding: 50px;
}

.open-label {
  color: #ffffff;
  margin-right: 12px;
}

.head {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 6px;
  text-align: center;
}

.open-img {
  height: 50px;
  width: 50px;
  align-self: flex-end;
}

.open-ntpc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ntpc-img-open {
  height: 40px;
  width: 50px;
  align-self: flex-start;
}

